<br>
<div class="weui-footer">
    <p class="weui-footer__text">Copyright &copy; 2008-{php echo date('Y')} {$_W['uniaccount']['name']}</p>
</div>
<br>
</body>
<!--加快统一素质材进程-->
<script type="text/javascript">var zmurl="{$_W['siteroot']}";var asss=zmurl + "addons/zmcn_erp/zmui/mp3/alpha.mp3";var errs=zmurl + "addons/zmcn_erp/zmui/mp3/bark.mp3";</script>
<script src="{$_W['siteroot']}addons/zmcn_erp/zmui/js/jquery.min.js?a={ZMUIVS}"></script>
<script src="{$_W['siteroot']}addons/zmcn_erp/zmui/js/jquery-weui.min.js?a={ZMUIVS}"></script>
</html>
