<div id="half" class='weui-popup__container popup-bottom'>
	<div class="weui-popup__overlay weui-popup-overlay"></div>
	<div class="weui-popup__modal">
		<div class="toolbar">
			<div class="toolbar-inner">
				<a href="javascript:;" class="picker-button close-popup">关闭</a>
				<h1 class="title">系统菜单</h1>
			</div>
		</div>
		<div class="modal-content">
			<div class="weui-grids">
				{if $_W['zmcn']['navs4']}
					{loop $_W['zmcn']['navs4'] $row}
					<a href="{$row['url']}" class="weui-grid">
						{if !empty($row['icon'])}
						<p class="weui-grid__label" style='line-height:18px;'><img src="{php echo tomedia($row['icon']);}" style='height:36px;width:36px;'/><br>{$row['name']}</p>
						{else}
						<p class="weui-grid__label"><span class="fa {$row['css']['icon']['icon']} f36" style="color:{$row['css']['icon']['color']};"></span><br>{$row['name']}</p>
						{/if}
					</a>
					{/loop}
				{else}
				<a href="{php echo url('entry',array('do' => 'myteam','m' => 'zmcn_cer','mb'=>'2'));}" class="weui-grid">
					<p class="weui-grid__label" style="position: relative;">
					  <span class="zmui-icon zmui-icon-usergroup2 f36 f-zi"></span><br>我的团队
					</p>
				</a>
				<a href="{php echo url('entry',array('do' => 'cart','m' => 'zmcn_order'));}" class="weui-grid">
					<p class="weui-grid__label">
					  <span class="zmui-icon zmui-icon-cart-kong f36 f-zi"></span><br>我要进货
					</p>
				</a>
				<a href="{php echo url('entry',array('do' => 'myoutorder','m' => 'zmcn_order'));}" class="weui-grid">
					<p class="weui-grid__label">
					  <span class="zmui-icon zmui-icon-chuku f36 f-red"></span><br>我要发货
					</p>
				</a>
				<a href="{php echo url('entry',array('do' => 'cart','m' => 'zmcn_order','op'=>'zj'));}" class="weui-grid">
					<p class="weui-grid__label">
					  <span class="zmui-icon zmui-icon-add2 f36 f-orange"></span><br>我要开单
					</p>
				</a>
				<a href="{php echo url('entry',array('do' => 'myprice','m' => 'zmcn_cer','mb'=>'2'));}" class="weui-grid">
					<p class="weui-grid__label">
					  <span class="zmui-icon zmui-icon-jiangjia f36 f-orange"></span><br>我的价格
					</p>
				</a>
				<a href="{$settings['sys']['help']}" class="weui-grid">
					<p class="weui-grid__label">
					  <span class="zmui-icon zmui-icon-help f36 f-indigo"></span><br>系统帮助
					</p>
				</a>
				{/if}
			</div>
		</div>
	</div>
</div>
</body>
<!--加快统一素质材进程-->
<script type="text/javascript">var zmurl="{$_W['siteroot']}";var asss=zmurl + "addons/zmcn_erp/zmui/mp3/alpha.mp3";var errs=zmurl + "addons/zmcn_erp/zmui/mp3/bark.mp3";</script>
<script src="{$_W['siteroot']}addons/zmcn_erp/zmui/js/jquery.min.js?a={ZMUIVS}"></script>
<script src="{$_W['siteroot']}addons/zmcn_erp/zmui/js/jquery-weui.min.js?a={ZMUIVS}"></script>
</html>