{template '_header'}
<style type="text/css">
.ok {background-color: #0D0 !important;}
.okok {background-color: #F00 !important;}
</style>
<div class="page bg-zmpag">
	<div class="weui-btn_primary weui-header">
		<div class="weui-header-left"><a class="zmui-icon zmui-icon-slider-left f-white" onclick='javascript:history.go(-1);'></a></div>
		<h1 class="weui-header-title">订单扫码发货</h1>
		<div class="weui-header-right"><a class="zmui-icon zmui-icon-more f-white open-popup" data-target="#half"></a></div>
	</div>
	<div class="weui-row weui-no-gutter" style="margin-top:10px;">
		<div class="weui-col-50"><a href="javascript:scanQrcode(1);" class="weui-btn weui-btn_plain-primary" style="width:92%;">单次扫码</a></div>
		<div class="weui-col-50"><a href="javascript:scanQrcode(2);" class="weui-btn weui-btn_primary" style="width:92%;">连续扫码</a></div>
	</div>
	<form action="" method="post" class="form-horizontal form" id="setting-form">
	<div class="weui-cells__title">扫码内容</div>
	<div class="weui-cells weui-cells_form">
		<div class="weui-cell">
			<div class="weui-cell__bd">
				<textarea class="weui-textarea" name="tiaomu" placeholder="扫码预览" rows="6" id="tiaomu" readonly="readonly"></textarea>
				<div class="weui-textarea-counter">已扫<span id="tiao">0</span>条</div>
			</div>
		</div>
	</div>
	<div class="weui-panel">
		<div class="weui-panel__hd">商品列表</div>
		<div class="weui-panel__bd" style="padding-right:5px;padding-left:5px">
			<table class="ui-table ui-border">
				<thead><tr><th style="width:60%;">商品</th><th style="width:20%;">订货量</th><th style="width:20%;">校验量</th></tr></thead>
				<tbody>
					{loop $order['ogoods'] $good}
						<tr class="f14" id="tr{$good['goodsid']}_{$good['optionid']}"><td class="tleft nll">
						
						<h5 class="weui-media-box__title_ss">{$good['goodsname']}<h5>
						
						{if !empty($good['optionname'])}<p class="weui-media-box__desc_ss">{$good['optionname']}</p>{/if}
						
						</td><td id="y{$good['goodsid']}_{$good['optionid']}">{$good['total']}</td><td class="tright" id="j{$good['goodsid']}_{$good['optionid']}">0</td></tr>
					{/loop}
					<tr class="f14"><td colspan="3" class="tright">总订货量：<b>{$order['com']}</b>件 总校验量<b id="zxyl">0</b>件</td></tr>
				</tbody>
			</table>
		</div>
	</div>
	<input type="hidden" name="isok" id="orderid" value="1" />
	<input type="hidden" name="orderid" id="orderid" value="0" />
	<div class="weui-cells">
		<div class="weui-media-box weui-media-box_text">
			<h4 class="weui-media-box__title f16">收货方：{$order['consignee']} {$order['tel']}</h4>
			<p class="weui-media-box__desc" id="add2">{$order['province']} {$order['city']} {$order['district']} {$order['address']} </p>
		</div>
		<div class="weui-cell weui-cell_select weui-cell_select-after">
			<div class="weui-cell__hd"><label class="weui-label">送货方式：</label></div>
			<div class="weui-cell__bd"> 
				<select class="weui-select" name="sendtype" id="sendtype">
					<option value="1" >发货</option>
					<option value="0" >现买</option>
					<option value="2" >自提</option>
				</select>
			</div>
		</div>
		<div class="weui-cell weui-cell_select weui-cell_select-after">
			<div class="weui-cell__hd"><label class="weui-label">发货物流：</label></div>
			<div class="weui-cell__bd" > 
				<select class="weui-select" name="expid" id="expid">
					<option value="my" >自己填写</option>
					{loop $_W['setting']['zmcn:kuaidi'] $key=>$value}
						<option value="{$key}" >{$value}</option>
					{/loop}
				</select>
			</div>
			<div class="weui-cell__ft" style="width:150px;">
				<input type="text" class="weui-input"  name="mykd" id="mykd" placeholder="在这里填写" value="">
			</div>
		</div>
		<div class="weui-cell weui-cell_vcode">
			<div class="weui-cell__hd"><label class="weui-label">物流单号：</label></div>
			<div class="weui-cell__bd"> 
				<input type="text" class="weui-input"  name="expsn" id="expsn" placeholder="请输入单号或扫码录入" value="">
			</div>
			<div class="weui-cell__ft">
				<a class="weui-vcode-btn zmui-icon zmui-icon-saoyisao f30" href="javascript:scantmcode();" style="padding:0px;width:40px;line-height:40px;"></a>
			</div>
		</div>
	</div>
	<div class="weui-row weui-no-gutter" style="margin-top:10px;">
		<input type="hidden" name="token" value="{$_W['token']}" />
		<input type="submit" name="submit" value="提交发货" class="weui-btn weui-btn_primary" style="width:92%;"/>
	</div>
	</form>
</div>
<audio id="music" src="" autoplay="autoplay" >你的浏览器不支持audio标签。</audio>
{template '_footer'}
<script type="text/javascript">
	var asss="{MODULE_URL}template/alpha.mp3";
	var errs="{MODULE_URL}template/bark.mp3";
	var fwm1="{php echo strtoupper($codeset['m'][1])}";
	var fwm8="{$len}";
</script>

<script>
	function scanQrcode(tp){
		wx.scanQRCode({
			needResult: 1,
			scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
			success: function (res) {
				if(res.resultStr.indexOf(",") > 1){
					var strs=res.resultStr.split(",");
					var co3 = strs[1];
				}else if(res.resultStr.indexOf("?") > 1){
					var Request = new UrlSearch(res.resultStr);
					var co3 = Request.co;
				}else{
					var co3 = res.resultStr;
				}
				if(tp==3){
					//getpro2(co3,tp);
				}else{
					co3 = co3.replace(fwm1, "").substr(0,fwm8);
					getpro1(co3,tp);
				}
			},
			error: function(res){
				$("#music").attr('src',errs);
				if(res.errMsg.indexOf('function_not_exist') > 0){
					$.alert('微信版本过低请升级', "微信提示");
				}
			}
		});
	}
	function UrlSearch(url){
		var name,value;
		var num=url.indexOf("?")
		url=url.substr(num+1); //取得所有参数   stringvar.substr(start [, length ]
		var arr=url.split("&"); //各个参数放到数组里
		for(var i=0;i < arr.length;i++){
			num=arr[i].indexOf("=");
			if(num>0){
				name=arr[i].substring(0,num);
				value=arr[i].substr(num+1);
				this[name]=value;
			}
		}
	}
	function getpro1(co3,tp){
		var textarea = $("#tiaomu");
		var allco = textarea.val();
		if(allco.indexOf(co3 + "\n") >= 0){
			$("#music").attr('src',errs);
			if(tp==2){setTimeout("scanQrcode(2)","1000");}
		}else{
			$.get('{php echo $this->createMobileUrl('address', array('op' => 'tiaoma'))}', {'co' : co3}, function(s){
				if (s.message.zt=='0') {
					if ($("#y" + s.message.id).length > 0 ) {
						var sl = $("#j" + s.message.id).html() * 1 + s.message.total * 1;
						$("#j" + s.message.id).html(sl);
						var ysl = $("#y" + s.message.id).html() * 1;
						if(ysl==sl){
							$("#tr" + s.message.id).attr("class", "ok");
						}else if(ysl<sl){
							$("#tr" + s.message.id).attr("class", "okok");
						}
						var sl = $("#zxyl").html() * 1 + s.message.total * 1;
						$("#zxyl").html(sl);
						$("#music").attr('src',asss);
					}else{
						$("#music").attr('src',errs);
					}
					textarea.val(allco + co3 + "\n");
					textarea.scrollTop(textarea[0].scrollHeight - textarea.height());
					var tiaos = $("#tiao").html() * 1 + 1;
					$("#tiao").html(tiaos);
					if(tp==2){setTimeout("scanQrcode(2)","1500");}
				}else{
					$("#music").attr('src',errs);
					$.alert(s.message.ts, "操作失败");
				}
			}, 'json');
		}
	}
	function scantmcode(){
		wx.scanQRCode({
			needResult: 1, 
			scanType: ["barCode"],
			success: function (res) {
				var strs=res.resultStr.split(",");
				$('#expsn').val(strs[1]);
			}
		});
	}
</script>




