{if $_W['setting']['remote']['type']}{php $imgxz='thumb';}{else}{php $imgxz='sthumb';}{/if}
{loop $list $od}
	<div class="weui-panel weui-panel_access">
		<div class="weui-panel__bd">
			<a href="javascript:getorder({$od['id']});" class="weui-cell">
				<div class="weui-cell__bd"><p class="f-black">订单号：{$od['orderno']}</p></div>
				<div class="weui-cell__ft"><label class="ui-label-s">{$_W['zm_o_st'][$od['status']]}</label></div>
			</a>
			{loop $od['ogoods'] $og}
			<a href="javascript:getpro({$og['id']});" class="weui-media-box weui-media-box_appmsg zmui_media44">
				<div class="weui-media-box__hd">
					<img class="weui-media-box__thumb" src="../addons/zmcn_order/n.gif" data-original="{php echo tomedia($og[$imgxz]);}">
				</div>
				<div class="weui-media-box__bd">
					<h4 class="weui-media-box__title">{$og['goodsname']}</h4>
					<p class="weui-media-box__desc">{$og['optionname']}</p>
				</div>
				<div class="row-remark"><p>{$og['price']}元</p><p>{$og['total']}  {$og['unit']}</p></div>
			</a>
			{/loop}
			<div class="weui-cell">
				<div class="weui-cell__bd"><p>共{$od['com']}件货</p></div>
				<div class="weui-cell__ft f-black">订单金额：{$od['price']}元</div>
			</div>
			<div class="weui-media-box weui-media-box_text" id="shouh{$od['id']}">
				<h4 class="weui-media-box__title f14">收货方：{$od['consignee']} {$od['tel']}</h4>
				<p class="weui-media-box__desc" id="add2">{$od['province']} {$od['city']} {$od['district']} {$od['address']} </p>
			</div>
            <div class="weui-form-preview__ft">
			{if $od['payimg']}
			<a href="javascript:payimg('{$od['payimg']}');" class="weui-form-preview__btn weui-form-preview__btn_default">付款凭证</a>
			{/if}
			{if $od['status']=='1'}
				<a href="{php echo $this->createMobileUrl('ordereditout', array('op' => 'gaij','id' => $od['id']))}" class="weui-form-preview__btn weui-form-preview__btn_default">修改费用</a> <a href="javascript:quxiao({$od['id']});" class="weui-form-preview__btn weui-form-preview__btn_default">取消订单</a> <!--a href="javascript:tuijiang({$od['id']});" class="weui-form-preview__btn weui-form-preview__btn_default">推给上级</a-->
			{elseif $od['status']=='2'}
				<a href="javascript:prin({$od['id']});" class="weui-form-preview__btn weui-form-preview__btn_default" id="an{$od['id']}">打印订单</a> <a href="javascript:daokuan({$od['id']});" class="weui-form-preview__btn weui-form-preview__btn_primary">确认到款</a> <a href="javascript:dahui({$od['id']});" class="weui-form-preview__btn weui-form-preview__btn_default">没收到款</a> <a href="javascript:fahuo({$od['id']});" class="weui-form-preview__btn weui-form-preview__btn_default open-popup" data-target="#fahuo">订单发货</a>
			{elseif $od['status']=='3'}
				{if $od['isdf']}
				<a href="{php echo $this->createMobileUrl('orderedit', array('op' => 'xq','id' => $od['isdf']))}" class="weui-form-preview__btn weui-form-preview__btn_primary">已转上级代发货，点击查看转发订单</a>
				{else}
				<a href="javascript:prin({$od['id']});" class="weui-form-preview__btn weui-form-preview__btn_default" id="an{$od['id']}">打印订单</a> <a href="javascript:fahuo({$od['id']});" class="weui-form-preview__btn weui-form-preview__btn_primary open-popup" data-target="#fahuo">订单发货</a> {if issm}<a href="{php echo $this->createMobileUrl('ordereditout', array('op' => 'sfh','id' => $od['id']))}" class="weui-form-preview__btn weui-form-preview__btn_default">扫码发货</a>{/if} <a href="javascript:xiadang({$od['id']});" class="weui-form-preview__btn weui-form-preview__btn_default">上级代发</a>
				{/if}
			{elseif $od['status']>2 && $settings['sys']['wlkey']}
				<a href="javascript:getexp('{$od['expid']}','{$od['expsn']}');" class="weui-form-preview__btn weui-form-preview__btn_default">查看物流</a>
			{elseif $od['status']=='0'}
				<a href="javascript:del({$od['id']});" class="weui-form-preview__btn weui-form-preview__btn_default">删除订单</a>
			{/if}
            </div>
		</div>
	</div>
{/loop}