{template 'common/header'}
<script type="text/javascript" src="{MODULE_URL}js/tooltipbox.js"></script>
<script type="text/javascript" src="{MODULE_URL}js/jquery-ui-1.10.3.min.js"></script>
<ul class="nav nav-tabs">
	<li {if $_GPC['op'] == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('dispatch', array('op'=>'display'));}">配送方式</a></li>
	<li {if $_GPC['op'] == 'ud'}class="active"{/if}><a href="{php echo $this->createWebUrl('dispatch', array('op'=>'ud'));}">新增配送区域</a></li>
</ul>
<form action="" method="post" class="form-horizontal form" id="form" onkeydown="if(event.keyCode==13)return false;">
<div class="main">
		<div class="panel panel-default">
			<div class="panel-heading">
				{if $dispatch['id']}编辑{else}添加{/if}配送区域
			</div>
			<div class="panel-body">
				<div class="form-group ">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">配送区域</label>
					{if $dispatch['id']}
						<div class="col-xs-12 col-sm-10">
							<div class='input-group'><span class="input-group-addon">{$dispatch['province']}</span><span class="input-group-addon">{$dispatch['city']}</span></div>
						</div>
					{else}
						<div class="col-xs-12 col-sm-4">
							<select class="form-control input-medium" name="dispatch[province]">
							{loop $areano $item}
								<option value="{$item}">{$item}</option>
							{/loop}
							</select>
						</div>
					{/if}
				</div>
				
				<div class="form-group ">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">添加配送方式</label>
					<div class="col-xs-12 col-sm-4">
						<div class="input-group">
							<select class="form-control input-medium" name="adexpress" id="adexpress">
							{loop $adexpress $itid=>$item}
								<option value="{$itid}">{$item}</option>
							{/loop}
							</select>
							<span class="input-group-addon" id="addexp" onclick="addexp()"><a title='添加配送方式' class='fa fa-plus' href='javascript:;'></a></span>
						</div>
					</div>
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">配送方式开关</label>
					<div class="col-xs-12 col-sm-3"><input type='hidden' name='dispatch[jd]' value='1'/>
						<select class="form-control input-medium" name="dispatch[zt]">
							<option value="0" {if (int)$dispatch['zt']=='0'}selected{/if}>关闭（不配送）</option>
							<option value="1" {if $dispatch['zt']=='1'}selected{/if}>开启（配送）</option>
						</select>
					</div>

				</div>
				<div class="form-group table-responsive" style="padding:0;">
					<div class="col-xs-12 col-sm-12">
					<table class="table table-hover">
						<thead class="navbar-inner">
							<tr>
								<th style="text-align:center; width:110px;">配送方式</th>
								<th style="text-align:center; width:110px;">物流</th>
								<th style="text-align:center; width:80px;">不计费</th>
								<th style="text-align:center; width:100px;">首重(㎏)</th>
								<th style="text-align:center; width:100px;">首费(元)</th>
								<th style="text-align:center; width:100px;">续重(㎏)</th>
								<th style="text-align:center; width:100px;">续费(元)</th>
								<th style="text-align:center; width:100px;">起步价(元)</th>
								<th style="text-align:center; width:100px;">操作</th>
							</tr>
						</thead>
						<tbody id="psfs">
							{loop $dispatch['express'] $spid=>$spe}
							<tr style="text-align:center;">
								<td><input type="text" name="express[{$spid}][expna]" class="form-control" value="{if $spe['expna']}{$spe['expna']}{else}{$spe['expcom']}{/if}" placeholder="方式名称" /></td>
								<td class="text-left">{if $spe['expcom']}{$spe['expcom']}{else}{$spe['expna']}{/if}<input type='hidden' name='express[{$spid}][expcom]' value='{if $spe['expcom']}{$spe['expcom']}{else}{$spe['expna']}{/if}'/></td>
								<td class="text-left"><label class='checkbox-inline1'><input type='checkbox' name='express[{$spid}][free]' value='1'{if $spe['free']} checked='checked'{/if}> 免费</label></td>
								<td><input type="text" name="express[{$spid}][firstweight]" class="form-control" value="{$spe['firstweight']}" /></td>
								<td><input type="text" name="express[{$spid}][firstprice]" class="form-control" value="{$spe['firstprice']}" /></td>
								<td><input type="text" name="express[{$spid}][secondweight]" class="form-control" value="{$spe['secondweight']}" /></td>
								<td><input type="text" name="express[{$spid}][secondprice]" class="form-control" value="{$spe['secondprice']}" /></td>
								<td><input type="text" name="express[{$spid}][minprice]" class="form-control" value="{$spe['minprice']}" /></td>
								<td><a title='删除' onclick='removeSpecItem(this)' href='javascript:;' class="btn btn-default btn-sm"><i class='fa fa-times'></i></a> <a title='拖动调整显示顺序' class='btn btn-default btn-sm zmtz' href='javascript:;'><i class='fa fa-arrows'></i></a></td>
							</tr>
							{/loop}
						</tbody>
					</table>
					</div>
				</div>
			</div>
		</div>
</div>
<input type="hidden" name="id" value="{$dispatch['id']}" />
<input type="hidden" name="token" value="{$_W['token']}" />
<button type="submit" class="btn btn-primary span3" name="submit" value="提交">提交</button>
</form>
<script language="javascript">
	$(function () {
		$("#psfs").sortable({handle:'.zmtz'});
	});
	function removeSpecItem(obj){
		$(obj).parent().parent().remove();
	}
	var addtb = false;
	function addexp(){
		$("#addexp").html("正在处理...");addtb = true;
		var expid= $("#adexpress").val();
		$.post('{php echo $this->createWebUrl('dispatch', array('op'=>'addexp'));}', {'expid' : expid}, function(s){
			$('#psfs').append(s);
			$("#addexp").html("<a title='添加配送方式' class='fa fa-plus' href='javascript:;'></a>");
			addtb = false;
		}, 'html');
	}
</script>
{template 'common/footer'}