<tr style="text-align:center;">
<td><input type="text" name="express[{$expid}][expna]" class="form-control" value="{$expna}" placeholder="方式名称" /></td>
<td class="text-left">{$expna}<input type='hidden' name='express[{$expid}][expcom]' value='{$expna}'/></td>
<td class="text-left"><label class='checkbox-inline1'><input type='checkbox' name='express[{$expid}][free]' value='1'> 免费</label></td>
<td><input type="text" name="express[{$expid}][firstweight]" class="form-control" value="1" /></td>
<td><input type="text" name="express[{$expid}][firstprice]" class="form-control" value="0" /></td>
<td><input type="text" name="express[{$expid}][secondweight]" class="form-control" value="1" /></td>
<td><input type="text" name="express[{$expid}][secondprice]" class="form-control" value="0" /></td>
<td><input type="text" name="express[{$expid}][minprice]" class="form-control" value="0" /></td>
<td><a title='删除' onclick='removeSpecItem(this)' href='javascript:;' class="btn btn-default btn-sm"><i class='fa fa-times'></i></a> <a title='拖动调整显示顺序' class='btn btn-default btn-sm zmtz' href='javascript:;'><i class='fa fa-arrows'></i></a></td>
</tr>